# Ignore node_modules, dist, .angular in all Day folders
**/node_modules/
**/dist/
**/.angular/
**/.angular/cache/
**/.angular/config.json

# Ignore log, env and lock files
**/*.log
**/*.env
**/package-lock.json

# Ignore IDE/editor folders
**/.vscode/
